body{
    text-align: center;
}
h1{
    font-family: cursive;
    font-size: 40px;
    font-weight: 300;
    
}
#apps{
    background-color: aquamarine;
    width:100%;
    height: 800px;
    
}
#games{
    background:linear-gradient()
    width:100%;
    height:800px;
}
#chatbot{
    background-color: cornflowerblue;
    width:100%;
    height:800px;
}
.line{
    height:10px;
    width: 70px;
    background-color:darkblue;
    margin:8px auto;
    
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}